spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/wjf8882300/eureka-demo.git
          search-paths: config-repo
server:
  port: 1201